.THIS .os-rojo {
    color: red;
}

.THIS .slds-modal__content {
    overflow: initial;
}

.THIS .os-icono-sandybrown svg {
    background-color: sandybrown;
}

.THIS .os-icono-darkseagreen svg {
    background-color: darkseagreen;
}