.cardMargin{
	margin:1rem 0;
	position: relative;
}
.cardMargin:required{
	border:2px solid red;
}
.buttonAñadir{
	margin-top: 1.4rem;
	margin-left:1rem;
}
.customSpinner{
	z-index:3;
	width:101%;
	height:101%;
	border-radius: 10px;
	position: absolute;
	top:auto !important;
	bottom:auto !important;
	left: auto !important;
	right:auto !important;
}
.basicContainer{
	border:.5px solid rgb(220, 220, 220);
	box-shadow: .125rem 0.25rem 1px 1px rgb(220, 220, 220, 0.5)  ;
	border-radius: 5px;
	padding:.75em;
}
.noticeOppo{
	border:2px solid red;
}
.productNew{
	margin: 0 0 .5rem 1rem
}