/**
 * Created by develop on 15/09/2020.
 */
 .THIS .gridStyle{
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, 200px);
}
.THIS .descripStyle{
	font-weight: normal;
	font-style: italic;
}
.THIS .itemStyle{
	font-weight: bold;
}
.THIS .scrollerSize{
	min-width: 15rem;
}
.THIS .higlightStyle{
	color: rgb(0, 151, 212);
}
.THIS .iconWidth{
	width: auto;
}