.inputPadding{
    padding:0 1rem;
}
.stickyLabel {
	/* margin: 0; */
    /* margin-top: -10rem; */
    margin-top:.5rem;
    margin-bottom: -1rem;
    /* background-color: red; */
}
.fixPositionPermisoBtns {
    background-color: rgb(243,243,243);
}
.buttonDiv{
    text-align:right;
    padding:auto 2rem;
    bottom:0;
    margin-top:2rem;
    width:100%;

}

.slds-button__icon {
    display: none !important;
}