div {
    margin: 0;
    padding-top: 1%;
    text-align: right;
}


p {
    display: inline;
    padding-left: 5%;
    color: blue;
    text-align: right;
}

lightning-button {
    display: inline;
    padding-left: 5%;
}