.sectionTitleLabel {
    position: relative;
    top: 1px;
    font-size: 14px;
}

.iconoContenidoGeneradoConIa {
    position: relative;
    top: -1px;
    --sds-c-icon-color-foreground-default: #8a8a8a;
    --slds-g-shadow-outline-focus-1: none;
}