@import 'c/csbd_lwcStyle';

section.slds-modal > div.slds-modal__container {
	width: 37rem;
	min-width: 37rem;
}

lightning-icon.iconoGestor {
	--slds-c-icon-color-background: #be74a8;
}

div.contenedorBannerGestorGenerico > article.slds-card.slds-scoped-notification_light {
	cursor: default;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

lightning-textarea.comentariosTarea {
	width: 100%;
    --slds-c-textarea-sizing-height-min: 100px;
}

div.contenedorInputComentarios {
	min-height: 138px;
}

lightning-icon.iconoInfo {
	--slds-c-icon-color-foreground-default: gray;
}