.num-records-container{
    text-align: center;
    font-size: 6rem;
    width: auto;
    height: auto;
    color: #0097d4;
}
.card-title{
    font-family: "SalesforceSans-Regular",Arial,sans-serif;
    font-size: 1rem;
    color: #16325c;
    line-height: 1.25rem;
    top: inherit;
}
.cursor-link{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.min-size{
    min-height: 13rem;
}
.min-size-title{
    min-height: 3.5rem;
}
.card-temp{
    position: relative;
    padding: 1.5rem;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.num-records-donut-chart{
    font-size: 1.3rem;
    position: absolute;
    margin-top: -33%;
    margin-left: 47%;
    text-align: center!important;
    color: #0097d4;
}

.dot-dark-blue {
    height: 10px;
    width: 10px;
    background-color: #064F70;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}
.dot-blue {
    height: 10px;
    width: 10px;
    background-color: #007EAE;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}
.dot-intermediate-blue {
    height: 10px;
    width: 10px;
    background-color: #2BC0ED;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}
.dot-light-blue {
    height: 10px;
    width: 10px;
    background-color: #A5EAFD;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}

.dot-lighter-blue{
    height: 10px;
    width: 10px;
    background-color: rgb(165, 234, 233);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.inline{
    display: inline-block;
    margin-left: 5%;
    cursor: pointer;
}
.card-temp-donut-chart{
    height: 19rem;
    width: 14rem;
    position: relative;
    padding: 1.5rem;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.custom-box{
    margin: 10px 0 0px -20px;
}
.onhover:hover{
    background-color:  rgb(221, 219, 218);
}
.legend-margin{
    margin-top: 5%;
    cursor: pointer;
}

.custom_button{
  width: 93%;
  text-align:center;
  position: absolute;
  bottom:.5rem;
    
}

.inner_button{
  padding:.25rem;
  width: 90%;
  border: 1px solid rgb(221,219,218);
  border-radius: .25rem;
  box-shadow: 0 2opx 2px 0 rgba(0,0,0,0.10);
  background: none;
}