.icon{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 5px;

}
.title-size{
    font-size: x-large;
}
.title{
    margin-top: 23px;
    margin-left: 5px;
}