.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
    height: auto; /* Gestionat per JS */
}

.content {
    overflow: hidden;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}