.THIS .slds-leftpad{
	padding-left: 2rem;
}
.THIS .iconheight{
    top: 65%;
    padding-left: 0.3rem;
}

.THIS .iconObject{
    top: 55%;
    padding-left: 0.3rem;
}


.THIS .leftspace input {
    padding-left:2rem;
}