template {
	padding-bottom: 4rem;
}
.buttonStyle{
	background-color: #009fe3;
	width: 15%;
	color: white;
}
.buttonAlign{
	text-align: center;
	margin-top: 15px;
	margin-bottom: -20px;
}

.postionButton{
	padding-bottom: 7em;
}

.cardMargin{
	margin-bottom: 1rem;
}
.newOppCardMargin{
	min-height: 800px;
}
.container-div{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 4rem;
}
.close-button{
	float: right;
	margin-right: 1rem;
}
.card-title{
	font-weight: bold;
	font-size: 1em;
}
.comment-label {
	float: left;
}
.card-body {
	margin: 1rem;
	display: block;
}
.messageWarning {
	background-color: rgb(255, 247, 189);
}
.slds-docked-form-footer {
	bottom: 40px;
}