.THIS button.botonRefrescar {
    color: rgb(116, 116, 116);
}

.THIS button.botonRefrescar:hover {
    color: #226286;
}

.THIS button.botonRefrescar:active {
    box-shadow: none;
    border-color: transparent;
}

.THIS button.slds-button:not(.slds-button_icon-bare) {
	border-color: rgb(201, 201, 201);
}

.THIS button.botonRefrescar.rotar > lightning-primitive-icon {
    animation: rotarKeyframes 470ms cubic-bezier(0.46, 0.32, 0, 0.98)
}

@keyframes rotarKeyframes {
    to {transform: rotate(360deg);}
}