:host {
    --slds-g-color-border-base-4: rgb(240, 131, 6);
}
/* c-csbd_-pill {
    cursor: pointer;
} */

c-csbd_-banner + c-csbd_-banner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}