li {
    border-radius: 6px;
    transition: background-color 90ms linear !important;
}

div.slds-timeline__trigger {
    transition: background-color 90ms linear !important;
}

li:hover {
    background-color: var(--slds-g-color-neutral-base-95, rgb(243, 243, 243));
}

li div.slds-timeline__actions_inline {
    padding-right: 0px;
    font-size: 12px;
}