.verticalAlign {
	cursor: pointer;
    padding: 0px 5px !important;
}

.slds-dropdown {
    padding:0px !important;
}

.recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.slds-listbox li {
    padding: .45rem 0.7rem !important;
    display: flex;
}

.inputBox input {
	padding-left: 10px;
}

.eachItem:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}
 
/* For Scrolling */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
   display: none !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}

.scroll-container {
    max-height: 200px; 
    overflow-y: auto;
    position: relative;
}

.fixed-div {
    position: sticky;
    bottom: 0;
    background-color: rgb(231, 231, 231);
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
}

.custom-icon {
    margin-left: 10px;
}

.custom-title {
    margin-left: 10px;
    font-size: large;
}

.tabla-reclamaciones{
    margin: 30px;
}

.boton-reset{
    margin-right: 10px;
}

.spinner{
    vertical-align: middle;
}

.separador-central{
    width: 100px;
}

.separador-lateral{
    width: 25px;
}

.campo-obligatorio{
    color: red;
}

.no-tiene-permisos{
    margin: 15px;
}