.recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.eachItem:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

/* For Scrolling */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
   display: none !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}

.scroll-container {
    max-height: 200px; 
    overflow-y: auto;
    position: relative;
}

.fixed-div {
    position: sticky;
    bottom: 0;
    background-color: rgb(231, 231, 231);
    z-index: 1;
}