.THIS div.slds-spinner {
    top: 30px;
}

.THIS .spinnerALF {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.THIS .spinnerALF::after {
    position: absolute;
    content: 'Esperando la respuesta de Alfabético...';
    width: 100%;
    text-align: center;
    top: 51px;
    z-index: 9999;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.THIS .spinnerSFDC {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.THIS .spinnerSFDC::after {
    position: absolute;
    content: 'Actualizando información...';
    width: 100%;
    text-align: center;
    top: 51px;
    z-index: 9999;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

@keyframes cc_fade_in {
    from {opacity: 0;}
    to {opacity: 1;}

    from {z-index: 9999;}
    to {z-index: 9999;}
}

.THIS .slds-spinner_container {
    background-color: rgb(255 255 255 / 90%);
}

.THIS .cc_blink {
    animation-name: cc_blinker;
    animation-iteration-count: 2;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cc_blinker {
    50% { opacity: 0.4; }
}

.THIS .cc_azul_cuenta {
    background-color: #7f8de1 !important;
}

.THIS span.resultado {
    font-weight: 600;
    transition: border-bottom 92ms ease-in;
}

.THIS button.slds-button.slds-button_neutral,
.THIS button.slds-button.slds-button_icon-border,
.THIS input.slds-input,
.THIS button.slds-combobox__input,
.THIS div.slds-dropdown {
	border-color: rgb(201, 201, 201);
}

.THIS .resultadoTexto {
    font-weight: 500;
}