/* .slds-form-element__control .slds-radio.horizontal {
    display: inline-block !important;
} */

.card-title{
    font-weight: bold;
    font-size: 1em;
}
.card-title-icon{
    margin-left: 0.3rem;
}
.slds-card{
    /* margin-right: 200px; */
}

.estrecho{
    height: 33px !important;
}

/* .slds-tabs_default__content.slds-is-active {
    border-bottom-width: 150px;
    
} */