.basicContainer{
    border:.5px solid rgb(220, 220, 220);
    box-shadow: .125rem 0.25rem 1px 1px rgb(220, 220, 220, 0.5)  ;
    border-radius: 5px;
    padding:.75em;
    display: flex;
}
.subject-col {
    width: 210px; /* Ajusta el ancho deseado para la columna del subject */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier contenido que desborda el ancho fijo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto es demasiado largo */
}
.buttons-col {
    /* flex-grow: 1; Esta columna ocupará todo el espacio disponible restante */
    width: 90px;
    display: flex; /* Los botones se alinearán en la misma línea */
    justify-content: flex-start; /* Alinea los botones al principio de la columna */
    align-items: center; 
}
.marginButtons *{
    margin:0 .20rem;
}
.comment-col{
    margin-top: -15px;
    margin-left: 50px;
    margin-right: 50px;    
    justify-content: flex-start;
}
.fieldOrigin-col{
    width: 90px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 50px;
}
.fieldDate-col{
    margin-right: 20px;
    flex-direction: row-reverse; 
}
.customCheck{
    --slds-c-button-color-background:rgb(0,133,53);
    --slds-g-color-neutral-base-50:white;
}
.customCheckDefault:hover{
    --sds-c-button-color-background:rgb(0,133,53);
    --sds-c-button-text-color-hover:white;
}
.customCheck:hover{
    --sds-c-button-color-background:rgb(0,133,53);
    --sds-c-button-text-color-hover:white;
}
.customClose{
    --slds-c-button-color-background:rgb(51,51,51);
    --slds-g-color-neutral-base-50:white;
}
.customCloseDefault:hover{
    --sds-c-button-color-background:rgb(51,51,51);
    --sds-c-button-text-color-hover:white;
}
.customClose:hover{
    --sds-c-button-color-background:rgb(51,51,51);
    --sds-c-button-text-color-hover:white;
}


.customNoLocalizado{
	--slds-c-button-color-background:rgb(210, 49, 51);
	--slds-g-color-neutral-base-50:white;
}
.customNoLocalizado:hover{
	--sds-c-button-color-background:rgb(210, 49, 51);
	--sds-c-button-text-color-hover:white;
}
.customNoLocalizadoDefault:hover{
	--sds-c-button-color-background:rgb(210, 49, 51);
	--sds-c-button-text-color-hover:white;
}


.textarea{
    margin-top: 18px; 
    height: 2rem; 
}