@import 'c/csbd_lwcStyle';

section.modalProgramarCita > div.slds-modal__container {
    /* max-width: min-content; */
    width: 640px;
    overflow: hidden;
    max-width: 960px;
    min-width: 160px;
    will-change: width;
    transition: width 420ms cubic-bezier(0, 0.3, 0.15, 1);
}

section.modalProgramarCita div.slds-modal__content {
    min-width: 40rem;
    min-height: 228px;
    overflow-x: hidden;
    overflow-y: auto;
    will-change: width, max-height;
    transition: width 420ms cubic-bezier(0, 0.3, 0.15, 1), max-height 420ms cubic-bezier(0, 0.3, 0.15, 1);
}

section.modalProgramarCita lightning-input lightning-datepicker {
    border-radius: 4px;
    will-change: box-shadow;
}

section.modalProgramarCita lightning-input.csbd_flash_dia lightning-datepicker input.slds-input,
section.modalProgramarCita lightning-input.csbd_flash_hora lightning-timepicker input.slds-input {
    animation-name: flashKf;
    animation-direction: alternate;
    animation-iteration-count: 6;
    animation-timing-function: ease;
    animation-duration: 100ms;
}

section.modalProgramarCita div.lookupGestor {
    min-width: 345px;
    max-width: 445px;
    width: 53%;
    will-change: opacity;
    transition: opacity 190ms ease-in-out;
}

section.modalProgramarCita div.lwcDisponibilidadContainer {
    padding: 0 18px;
    overflow: hidden;
    display: block;
    opacity: 0;
    max-height: 0;
    will-change: width, opacity, max-height;
    transition: width 420ms cubic-bezier(0, 0.3, 0.15, 1), opacity 420ms ease-out, max-height 420ms cubic-bezier(0, 0.3, 0.15, 1);
}

section.modalProgramarCita div.infoAsignacionAuto {
    display: none;
    opacity: 0;
    will-change: opacity;
    transition: opacity 190ms ease-in-out;
    cursor: default;
}

span.modoDesarrollo {
    font-weight: 300;
    color: #784200;
    --slds-c-icon-color-foreground-default: #784200;
}

div.infoAsignacionAuto > div.slds-grid {
    width: 520px;
    margin-left: 8px;
    font-size: 12.2px;
    line-height: 19px;
    background-color: #f3f3f3;
    padding: 7px;
    border-radius: 7px;
}

div.seccionDinamica {
    min-height: 68px;
}

div.lineaSeparacion {
    height: 3px;
    border-top-width: 1px;
    border-top-color: transparent;
    background-image: linear-gradient(
        to right,
        rgba(229, 229, 229, 8%),
        rgb(228, 228, 228),
        rgba(229, 229, 229, 8%)
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4px;
    margin-bottom: 18px;
}

@keyframes inputBlinkKf {
    to {
        --slds-c-input-color-background: #21618678;
        --slds-c-input-text-color: white;
    }
}