.THIS .spinnerSFDC {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    vertical-align: center;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.THIS .spinnerSFDC::after {
    position: absolute;
    content: 'Actualizando caso...';
    width: 100%;
    text-align: center;
    top: calc(50% + 2em);
    z-index: 9999;

    animation-name: cc_fade_in;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

@keyframes cc_fade_in {
    from {opacity: 0;}
    to {opacity: 1;}

    from {z-index: 9999;}
    to {z-index: 9999;}
}

.THIS .cc_blink {
    animation-name: cc_blinker;
    animation-iteration-count: 2;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes cc_blinker {
    50% { opacity: 0.3; }
}

.THIS .cc_azul_cuenta {
    background-color: #7f8de1 !important;
}