.table-container {
	height: 20rem;
}

.slds-form-element_horizontal .slds-form-element__control, .slds-form_horizontal .slds-form-element .slds-form-element__control, .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 25%;
    clear: none;
}

.buttonStyle{
    margin-left: 10%;
}

.title{
	font-weight: bold;
	margin-left: 1rem;
	margin-bottom: 1rem;
    vertical-align: -webkit-baseline-middle;
}

.dt-outer{
	height: 90%!important;
}

.marginBoton {
    margin-bottom: 270px;
}

:host .slds-form-element__control .slds-radio {
	display: contents !important;
}

.table-container-paginacion{
	margin-bottom: 50px;
}