.chev-icon{
    vertical-align: top;
}
.linked-contrato-button{
    float: right;
}
.contrato-title{
    text-decoration: none;
    color: #006dcc;
    vertical-align: -webkit-baseline-middle;
}
.section-div{
    display: inherit;
    overflow: auto;
    margin: 0.2rem;
}
.sec-form{
    margin-left: 1rem;
    margin-right: 1rem;
}