.assign-lookup {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.filter-card {
	margin-bottom: 0.5rem;
}
.table-container {
	height: 25rem;
}
.total-data-text {
	width: fit-content;
	margin-left: auto;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	direction: rtl;
	padding: 0 0.5rem 0.5rem 0;
}
.select-obj {
	width: 100%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}
.footer-filter {
	width: fit-content;
	margin-left: auto;
	margin-right: 0;
}

/*.slds-form-element{
	margin-left: 5em;
}*/

.filters_row_1 .lookup-cmp:first-of-type {
	padding-left: 5em;
}

.filters_row_1 lightning-combobox:first-of-type {
	padding: 0 1.25em 0 2.5em;
}

.filters_row_1 lightning-combobox:nth-of-type(2) {
	padding: 0 1.25em 0 1.25em;
}

.filters_row_2 lightning-combobox:first-of-type {
    padding-left: 5em;
}

.filters_row_2 lightning-combobox:last-of-type {
	padding: 0 1.25em 0 2.5em;
}

.filters_row_2 lightning-input:nth-of-type(1) {
	padding: 0 0.5em 0 1.25em;
}

.filters_row_2 lightning-input:nth-of-type(2) {
	padding: 0 1.25em 0 0.5em;
}

.filters_row_2 lightning-input:nth-of-type(3) {
	padding: 0 0.5em 0 1.25em;
	width: 11%;
}

.filters_row_2 lightning-input:nth-of-type(4) {
	padding: 0 5em 0 0.5em;
	width: 14%;
}

/*.filters_row_3 lightning-slider {
	padding-left: 5em;
}*/

.filters_row_3 lightning-input:first-of-type {
	padding-left: 5em;
	padding-right: 0.5em;
	width: 14.5%;
}

.filters_row_3 lightning-input:nth-of-type(2) {
	padding: 0 1.25em 0 0.5em;
	width: 11.5%;
}

.filters_row_3 lightning-input:nth-of-type(3) {
	padding: 0 0.5em 0 1.25em;
	width: 12%;
}

.filters_row_3 lightning-input:nth-of-type(4) {
	padding: 0 1.25em 0 0.5em;
	width: 12%;
}

.filters_row_3 lightning-input:nth-of-type(5) {
	padding: 0 0.55em 0 1.25em;
}

.filters_row_3 lightning-input:nth-of-type(6) {
	padding: 0 1.25em 0 0.50em;
}

.filters_row_3 lightning-input:nth-of-type(7) {
	padding: 0 0.5em 0 1.25em;
	width: 11%;
}

.filters_row_3 lightning-input:nth-of-type(8) {
	padding: 0 5em 0 0.5em;
	width: 14%;
}

.filters_row_4 lightning-combobox:first-of-type {
	padding-left: 5em;
}

.filters_row_4 lightning-combobox:nth-of-type(2) {
	padding: 0 1.25em 0 2.5em;
}

.filters_row_4 lightning-combobox:nth-of-type(3) {
	padding: 0 1.25em 0 1.25em;
}

.another-office {
	padding: 0 0.5em 0 1.25em;
}

.slds-form-element_horizontal .slds-form-element__control, .slds-form_horizontal .slds-form-element .slds-form-element__control, .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 25%;
    clear: none;
}

.buttonAlign {
    /*text-align: right;
    margin-top: 1rem;
	padding-top: 0.5rem;*/
	display: flex;
}

.buttonAlign p {
	font-size: 0.9em;
	padding-left: 5em;
	flex-grow: 2;
	padding-top: 1%;
    width: 90%;
}

.buttonStyle{
	margin-top: 0.5rem;
    margin-right: 1rem;
	flex-grow: 1;
}

/*.buttonStyle{
	margin-top: 1.5rem;
    margin-right: 1rem;
}*/

.divPadding{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.divPadding-first {
	padding: 1rem 0 0.33rem 0;
}

.title{
	font-weight: bold;
	margin-left: 1rem;
	margin-bottom: 1rem;
    vertical-align: -webkit-baseline-middle;
}

.dt-outer{
	height: 90%!important;
}

.table-container-paginacion{
	margin-bottom: 60px;
}

.help-text p {
	font-size: 0.7rem;
    font-style: italic;
}

.emp-select,.product-select {
	margin-left: 1em;
}

.emp-select:first-of-type,.product-select:first-of-type {
	margin-left: 5em;
}

.lookup-cmp {
	padding-left: 5em;
}

.moreFilters {
	margin: 0 1rem 1rem 0;
	justify-content: right;
	text-align: right;
	text-decoration: underline;
	color:blue;
}