header h2.slds-card__header-title {
    font-size: 16px;
}

ul.listaCaracteristicas {
    list-style: none;
}

ul.listaCaracteristicas > li:last-child {
    margin-bottom: 0px;
}

ul.listaCaracteristicas > li > span:hover {
    cursor: pointer;
}

ul.listaCaracteristicas > li > span:hover > span.titulo {
    border-bottom: 1px solid;
}

ul.listaCaracteristicas > li > span > lightning-icon.icono {
    opacity: 0.83;
}

ul.listaCaracteristicas > li > span > lightning-icon.warning {
    --slds-c-icon-color-foreground-default: #de9400;
    animation: blinker 820ms ease infinite;
}

ul.listaCaracteristicas > li > span > span.titulo {
    position: relative;
    top: 1px;
}

@keyframes blinker {
    50% {opacity: 0.2;}
}