.contenedor {
	padding: 6px 7px 5px 7px !important;
	background-color: #fafbff;
	transition: max-height 0.5s ease-in-out !important;
	border: var(--lwc-borderWidthThin, 1px) solid #d2d5d5 !important;
}

.clasificacionActual {
	margin-left: 6px;
}

.slds-listbox__option {
	line-height: 16px;
}

.slds-media__body {
	padding-top: 2px;
}

.flecha {
	padding-left: 7px;
	padding-right: 9px;
	font-size: 17px;
	font-weight: 200;
	position: relative;
	top: 1px;
}

.clasificacionSeleccionada .flecha {
	cursor: default;
}

.badgeResultado {
	display: inline-flex;
	align-items: center;
	padding: 3px 7px 3px 7px;
	background-color: #F8F9F9;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	border-color: #2259A4;
	box-sizing: border-box;
	height: 24px;
	font-size: small;
	color: black;
	padding-bottom: 3px;
	white-space: pre;
	margin-top: 2px;
	margin-bottom: 2px;
}

.badgeResultadoMatch {
	background-color: #eff5ff;
	border-width: 2px;
	font-weight: 500;
}

.badgeClasificacionActual {
	display: inline-flex;
	align-items: center;
	padding: 3px 7px 3px 7px;
	background-color: #F8F9F9;
	border-width: 2px;
	font-weight: 400;
	border-style: solid;
	border-radius: 8px;
	border-color: #3768ac;
	box-sizing: border-box;
	height: 24px;
	font-size: small;
	color: black;
	padding-bottom: 3px;
	white-space: pre;
}

.backdropSuave {
	background-color: rgba(8, 7, 7, 0.09);
	z-index: 90;
}

.botonMostrarOcultar {
	top: -1px;
	position: relative;
	z-index: 91;
}

.buscador {
	max-height: 60px;
	transition: max-height 0.18s ease;
}

.buscador.buscadorOculto {
	overflow: hidden;
	max-height: 0px;
}

.buscador.slds-hidden .slds-card__body {
	display: none;
}

.resultados {
	width: calc(100% - 2px);
	z-index: 91;
	overflow-y: scroll;
}

.buscador.buscadorOculto .resultados {
	display: none;
}

li.resultado:last-child>hr {
	display: none;
}

div.contenedor article:first-child .slds-card__body {
	margin-top: 0px;
}

.listaResultados {
	overflow: hidden;
}

.spanResultado {
	border-radius: 5px;
	transition: background-color 90ms ease-in;
}

.spanResultado:hover {
	background-color: #eef0f7;
}

.spanResultadoSeleccionado {
	background-color: #e3e8f4;
}

.spanResultado:hover.spanResultadoSeleccionado {
	background-color: #e3e8f4;
}

.tituloListaResultados {
	font-size: 11.5px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	color: #3c3c3c;
}

.iconoSinCoincidencias {
	--slds-c-icon-color-foreground-default: #878787;
}

.inputBuscar {
	--slds-c-input-radius-border: 0px 4px 4px 0px;
}

.iconoOpcionesTipoBusqueda {
	--slds-c-icon-color-foreground-default: gray;
	transition: transform 220ms ease-in-out;
}

.menuTipoBusqueda button {
	min-width: 0px;
	transition: min-width 220ms linear;
}

.menuTipoBusqueda .slds-is-open button {
	min-width: 192px;
	transition: min-width 220ms ease-in-out;
}

.menuTipoBusqueda .slds-is-open .iconoOpcionesTipoBusqueda {
	transform: rotate(180deg);
}

.warningNoClasificado {
	display: block;
	opacity: 0.7;
}

.clasificacionActual+.buscador .warningNoClasificado {
	display: none;
}

.divResultados {
	position: absolute;
	overflow: hidden;
	transition: max-height 0.2s cubic-bezier(1, 0, 1, 0);
	height: auto;
	max-height: 1000px;
	width: 100%;
	top: 31px;
	padding-right: 1px;
}

.divResultados.divResultadosOculto {
	max-height: 0px;
	transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}

.inputClasificacionSeleccionada:disabled {
	background-color: white;
	cursor: default;
}

.botonGuardar {
	--slds-c-button-neutral-color-background-active: white;
	--slds-c-button-neutral-color-background-hover: white;
	--slds-c-button-text-color-hover: var(--slds-c-button-text-color, rgb(1, 118, 211));
	--slds-c-button-text-color-active: var(--slds-c-button-text-color, rgb(1, 118, 211));
}

.clasificacionSeleccionada {
	transition: opacity 0.06s linear;
}

.clasificacionSeleccionadaContenido {
	position: absolute;
	top: -2px;
	display: inline-block;
	padding-top: 4px;
	padding-left: 11px;
	opacity: 0.4;
	cursor: default;
}

.clasificacionSeleccionadaVisible .clasificacionSeleccionadaContenido {
	opacity: 0.9;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	background-color: #fdfdfd;
}

::-webkit-scrollbar-thumb {
	border-style: solid;
	border-color: white;
	border-radius: 3px;
    border-width: 4px 2px 4px 1px;
	background-color: rgb(206, 206, 206); /*#6b92dc*/
}

.iconoClasificacionSeleccionada {
	position: relative;
	top: -2px;
	transform: scale(0.8);
}