.THIS .csbd-rojo {
    color: red;
}

.THIS section.slds-modal:not(.modalProgramar) .slds-modal__content {
    overflow: initial;
}

.THIS div.divBotones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 7px;
    align-items: center;
    padding-bottom: 2px;
    position: relative;
    z-index: 5;
}

.THIS div.divBotones button {
    will-change: background-color;
    transition: background-color 100ms ease;
}

.THIS div.divBotones > button.slds-button + button.slds-button {
    margin-left: 6px;
}

.THIS div.divBotones button.botonOtrasOperativas:hover,
.THIS div.divBotones button.botonOtrasOperativas:focus,
.THIS div.divBotones button.botonOtrasOperativas:has(+ div.popoverOtrasOperativas.visible) {
    background-color: #f3f3f3;
    box-shadow: none;
    cursor: default;
}

.THIS div.otrasOperativasContainer {
    display: inline-block;
    position: relative;
    padding: 0px 4px 0px 4px;
}

.THIS button.botonOtrasOperativas {
    width: 40px;
    color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible, rgb(1, 118, 211))));
}

.THIS div.divBotones div.popoverOtrasOperativas {
    position: absolute;
    left: -89px;
    top: 14px;
    z-index: 92;
    will-change: visibility, opacity, top;
    visibility: hidden;
    opacity: 0;
    transition: visibility 110ms linear, opacity 110ms ease-out, top 150ms ease-out;
    pointer-events: none;
}

.THIS div.divBotones div.popoverOtrasOperativas.visible {
    top: 36px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover {
    border-radius: 7px;
    width: 226px;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover > div.slds-popover__body {
    padding: 3px 9px 3px 6px;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover > div.slds-popover__body > div.slds-grid.slds-grid.vertical {
    line-height: 34px;
}

.THIS div.divBotones div.popoverOtrasOperativas div.tituloOtrasOperativas {
    letter-spacing: 0.085rem;
    color: #5d5d5d;
    cursor: default;
}

.THIS div.divBotones div.popoverOtrasOperativas button {
    will-change: background-position;
    width: 100%;
    margin: 3px 0 3px 1px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(90deg, #f4f4f4 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 70ms cubic-bezier(0.4, 0, 0.2, 1);
}

.THIS div.divBotones div.popoverOtrasOperativas button:hover:not(:disabled),
.THIS div.divBotones div.popoverOtrasOperativas button:focus:not(:disabled) {
    background-position: 0 0;
}

.THIS div.divBotones div.popoverOtrasOperativas button > lightning-primitive-icon {
    top: -1px;
    position: relative;
    transform: scale(1.05);
}

.THIS div.divBotones div.popoverOtrasOperativas hr {
    border: none;
    height: 1px;
    background-color: #e8e8e8;
    margin: 0 7px;
}

.THIS button.slds-button:not(.slds-button_icon-bare):not(.slds-button_icon-container):not(.slds-text-link),
.THIS button.slds-button:disabled,
.THIS input.slds-input,
.THIS input.slds-input:disabled,
.THIS textarea.slds-textarea,
.THIS button.slds-combobox__input,
.THIS div.slds-combobox__input,
.THIS div.slds-dropdown,
.THIS select.slds-select {
	border-color: rgb(201, 201, 201);
}

.THIS .modalCerrarOportunidad lightning-button-group.buttonGroupEtapas.slds-has-error lightning-button.selected button.slds-button {
	border-color: var(--lwc-colorBorderError, rgb(234, 0, 30)) !important;

}

.THIS div.slds-radio_button-group {
    border-color: rgb(201, 201, 201);;
    --slds-g-color-border-base-4: rgb(201, 201, 201);
}

.THIS.modalTrasladoSia lightning-textarea > div > textarea.slds-textarea,
.THIS.modalInformeSia lightning-textarea > div > textarea.slds-textarea {
    height: 32px;
    background-color: #f7f7f7;
    font-size: 12px;
    color: black;
}

.THIS.modalTrasladoSia lightning-textarea.multilinea > div > textarea.slds-textarea {
    height: 260px;
}

.THIS.modalInformeSia lightning-textarea.multilinea > div > textarea.slds-textarea {
    height: 460px;
}

.THIS.modalTrasladoSia button.botonCopiar:focus,
.THIS.modalTrasladoSia button.botonCopiar:active,
.THIS.modalInformeSia button.botonCopiar:focus,
.THIS.modalInformeSia button.botonCopiar:active {
    box-shadow: none;
    border: none;
}

.THIS.modalInformeSia button.botonCopiar svg,
.THIS.modalTrasladoSia button.botonCopiar svg {
    will-change: fill, transform;
    transform-origin: center;
    fill: #919191;
}

.THIS.modalInformeSia button.botonCopiar:hover svg,
.THIS.modalTrasladoSia button.botonCopiar:hover svg {
    fill: rgb(83, 112, 147);
}

.THIS.modalInformeSia button.botonCopiar.copiarOk svg,
.THIS.modalInformeSia button.botonCopiar.copiarOk:hover svg,
.THIS.modalTrasladoSia button.botonCopiar.copiarOk svg,
.THIS.modalTrasladoSia button.botonCopiar.copiarOk:hover svg {
    animation: blinkOkKf 100ms ease 4 alternate;
}

@keyframes blinkOkKf {
	from {
        transform: scale(1);
        fill: rgb(83, 112, 147);
    } to {
        transform: scale(1.12);
        fill: #256196;
    }
}

.THIS button.botonRefrescarBotonera.rotar:disabled svg,
.THIS button.botonRefrescarBotonera.rotar svg {
    animation: rotarKeyframes 470ms cubic-bezier(0.46, 0.32, 0, 0.98)
}

@keyframes rotarKeyframes {
    to {transform: rotate(360deg);}
}

.THIS button.slds-modal__close:hover > lightning-icon {
	--slds-c-icon-color-foreground-default: var(--slds-c-button-text-color-hover, var(--sds-c-button-text-color-hover, var(--lwc-brandAccessibleActive,rgba(21, 73, 102, 1))));
}

.THIS lightning-icon.iconoConvertirOppActual {
    background-color: #dda290;
}

.THIS lightning-icon.iconoDisponibilidad svg {
    fill: var(--lwc-brandTextLink, rgba(33, 97, 134, 1));
}

.THIS .csbd-var-p-bottom_xxx-large {
    padding-bottom: 32px;
}

.THIS.modalProgramar > div.slds-modal__container {
    max-width: min-content;
    width: fit-content;
    will-change: width;
    transition: width 300ms ease-in-out;
}

.THIS.modalProgramar div.slds-modal__content {
    min-width: 40rem;
    width: fit-content;
    min-height: 224px;
    /* overflow: hidden; */
    overflow-y: hidden;
    will-change: max-height;
    transition: width 300ms ease-in-out, max-height 300ms ease-in-out;
}

.THIS.modalProgramar lightning-input div.slds-form-element__help {
    display: none;
}

.THIS.modalProgramar lightning-input lightning-datepicker {
    border-radius: 4px;
    will-change: box-shadow;
}

.THIS.modalProgramar lightning-input.csbd_flash_dia lightning-datepicker input.slds-input {
    animation-name: flashKf;
    animation-direction: alternate;
    animation-iteration-count: 6;
    animation-timing-function: ease;
    animation-duration: 100ms;
}

.THIS.modalProgramar lightning-input.csbd_flash_hora lightning-timepicker input.slds-input {
    animation-name: flashKf;
    animation-direction: alternate;
    animation-iteration-count: 6;
    animation-timing-function: ease;
    animation-duration: 100ms;
}


.THIS.modalProgramar .modalProgramarLookupGestor {
    transition: opacity 300ms ease-in-out;
}

.THIS.modalProgramar div.modalProgramarCalendarioDisponibilidadContainer {
    width: fit-content;
    padding: 0 18px;
    /* overflow-y: hidden; */
    display: none;
    opacity: 0;
    max-height: 0;
    transition: width 300ms ease-in-out, opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}

.THIS.modalProgramar .modalProgramarCalendarioDisponibilidad {
    /* display: none; */
    /* width: 0; */
    /* max-height: 0; */
    /* opacity: 0; */
    /* transition: width 320ms ease-in-out, max-height 320ms ease-in-out, opacity 320ms ease-out; */
}

.THIS.modalProgramar .modalProgramarInfoAsignacionAuto {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

@keyframes flashKf {
    from {box-shadow: none}
    to {box-shadow: 0 0 8px 1px rgb(112 157 216)}
}

.THIS button.pointerEventsNone {
    pointer-events: none;
}

.THIS div.infoAsignacionAuto > div.slds-grid {
    font-size: 12.6px;
    line-height: 19px;
    background-color: #f3f3f3;
    padding: 7px;
    border-radius: 6px;
}

.THIS.modalAsignarAuto footer div.slds-button_last > button {
    background-color: rgb(33, 97, 134);
    color: white;
}

.THIS button.csbdButtonMenu {
    padding-left: 12px;
    padding-right: 9px;
    height: 32px;
    z-index: -1;
    transition: background-color 100ms linear, box-shadow 210ms cubic-bezier(0.8, 0, 0.57, 0.73) !important;
}

.THIS button.csbdButtonMenu .csbdButtonMenuIcono {
    margin-right: 8px;
}

.THIS button.csbdButtonMenu .csbdButtonMenuIcono svg,
.THIS button.csbdButtonMenu .csbdButtonMenuIconoDown svg {
    position: relative;
    top: 1px;
    fill: currentColor;
}

.THIS button.csbdButtonMenu:disabled .csbdButtonMenuIconoDown svg {
    color: var(--slds-g-color-neutral-base-80, rgb(201, 201, 201));
}

.THIS button.csbdButtonMenu .csbdButtonMenuIconoDown {
    margin-left: 6px;
    transform: scale(0.82);
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger {
    height: 32px;
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown {
    transform: translateX(13px) translateY(-10px);
    transition: transform 70ms ease-in, opacity 70ms cubic-bezier(0.46, 0.32, 0, 0.98);
    opacity: 0;
    display: block;
    visibility: hidden;
    will-change: transform, opacity;
    z-index: -2;
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger.slds-is-open div.slds-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(13px) translateY(0);
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown a {
    color: var(--slds-g-color-neutral-base-10, var(--lwc-colorTextDefault,rgb(24, 24, 24)));
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown a:hover {
    color: var(--lwc-brandTextLink, rgba(33, 97, 134, 1));
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown li.itemDisabled,
.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown li.itemDisabled a,
.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown li.itemDisabled a svg {
    cursor: default;
    color: var(--slds-g-color-neutral-base-80, rgb(201, 201, 201));
    fill: currentColor;
}

.THIS button.csbdButtonMenu div.slds-dropdown-trigger div.slds-dropdown li.itemDisabled a {
    pointer-events: none;
}