.THIS .csbd-rojo {
    color: red;
}

.THIS .slds-modal__content {
    overflow: initial;
}

.THIS div.divBotones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 7px;
    align-items: center;
    padding-bottom: 2px;
}

.THIS div.divBotones button {
    /* transition: background-color 100ms linear; */
}

.THIS div.divBotones button.botonOtrasOperativas:hover,
.THIS div.divBotones button.botonOtrasOperativas:focus,
.THIS div.divBotones button.botonOtrasOperativas:has(+ div.popoverOtrasOperativas.visible) {
    background-color: #f3f3f3;
    box-shadow: none;
    cursor: default;
}

.THIS div.otrasOperativasContainer {
    display: inline-block;
    position: relative;
    padding: 0px 4px 0px 4px;
}

.THIS button.botonOtrasOperativas {
    width: 50px;
    color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible, rgb(1, 118, 211))));
}

.THIS div.divBotones div.popoverOtrasOperativas {
    position: absolute;
    left: -91px;
    top: 20px;
    z-index: 100;
    /* transform: translateY(-19px); */
    /* will-change: visibility, opacity, transform; */
    will-change: visibility, opacity, top;
    visibility: hidden;
    opacity: 0;
    /* transition: visibility 90ms linear, opacity 90ms ease-in, transform 90ms ease-in-out; */
    transition: visibility 90ms linear, opacity 90ms ease-in, top 90ms ease-in-out;
    /* -webkit-font-smoothing: antialiased; */
    pointer-events: none;
}

.THIS div.divBotones div.popoverOtrasOperativas.visible {
    /* transform: translateY(0); */
    top: 39px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover {
    border-radius: 7px;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover > div.slds-popover__body {
    padding: 9px 10px 11px 11px;
}

.THIS div.divBotones div.popoverOtrasOperativas > div.slds-popover > div.slds-popover__body > div.slds-grid.slds-grid.vertical {
    line-height: 34px;
}

.THIS div.divBotones div.popoverOtrasOperativas div.tituloOtrasOperativas {
    letter-spacing: 0.085rem;
    color: #5d5d5d;
    cursor: default;
}

.THIS div.divBotones div.popoverOtrasOperativas button {
    margin-left: 0px;
}

.THIS div.divBotones div.popoverOtrasOperativas button:not(:last-child) {
    margin-bottom: 5px;
}

.THIS button.slds-button:not(.slds-button_icon-bare):not(.slds-button_icon-container):not(.slds-text-link),
.THIS button.slds-button:disabled,
.THIS input.slds-input,
.THIS input.slds-input:disabled,
.THIS textarea.slds-textarea,
.THIS button.slds-combobox__input,
.THIS div.slds-combobox__input,
.THIS div.slds-dropdown,
.THIS select.slds-select {
	border-color: rgb(201, 201, 201);
}

.THIS.modalInformeSia lightning-textarea > div > textarea.slds-textarea,
.THIS.modalInformeSia2 lightning-textarea > div > textarea.slds-textarea {
    height: 34px !important;
    background-color: #f7f7f7;
    font-size: 11.9px;
}

.THIS.modalInformeSia lightning-textarea.multilinea > div > textarea.slds-textarea {
    height: 260px !important;
}

.THIS.modalInformeSia2 lightning-textarea.multilinea > div > textarea.slds-textarea {
    height: 460px !important;
}

.THIS.modalInformeSia button.botonCopiar:focus,
.THIS.modalInformeSia button.botonCopiar:active,
.THIS.modalInformeSia2 button.botonCopiar:focus,
.THIS.modalInformeSia2 button.botonCopiar:active {
    box-shadow: none;
    border: none;
}

.THIS.modalInformeSia button.botonCopiar svg,
.THIS.modalInformeSia2 button.botonCopiar svg {
    will-change: fill, transform;
    transform-origin: center;
    fill: #919191;
}

.THIS.modalInformeSia button.botonCopiar:hover svg,
.THIS.modalInformeSia2 button.botonCopiar:hover svg {
    fill: rgb(83, 112, 147);
}

.THIS.modalInformeSia button.botonCopiar.copiarOk svg,
.THIS.modalInformeSia button.botonCopiar.copiarOk:hover svg,
.THIS.modalInformeSia2 button.botonCopiar.copiarOk svg,
.THIS.modalInformeSia2 button.botonCopiar.copiarOk:hover svg {
    animation: blinkOkKf 100ms ease 4 alternate;
}

@keyframes blinkOkKf {
	from {
        transform: scale(1);
        fill: rgb(83, 112, 147);
    } to {
        transform: scale(1.12);
        fill: #256196;
    }
}

.THIS button.botonRefrescarBotonera.rotar:disabled svg,
.THIS button.botonRefrescarBotonera.rotar svg {
    animation: rotarKeyframes 470ms cubic-bezier(0.46, 0.32, 0, 0.98)
}

@keyframes rotarKeyframes {
    to {transform: rotate(360deg);}
}

.THIS button.slds-modal__close:hover > lightning-icon {
	--slds-c-icon-color-foreground-default: var(--slds-c-button-text-color-hover, var(--sds-c-button-text-color-hover, var(--lwc-brandAccessibleActive,rgba(21, 73, 102, 1))));
}

.THIS lightning-icon.iconoConvertirOppActual {
    background-color: #dda290;
}