.home-title{
    font-weight: bold;
    padding-left: 0.5rem;
    vertical-align: bottom;
    font-size: large;
}
.home-padding{
    padding: 0.75rem;
    padding-top: 0.5rem;
}
.span-detail{
    font-family: "SalesforceSans-Regular",Arial,sans-serif;
    font-size: .75rem;
    color: #54698d;
}
.first-span-detail{
    padding-right: 0.2rem;
}
.home-detail-span{
    font-size: 14px;
}